<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'student/studentdashboard' %>
  <title>Welcome to PHD Annual Review Process</title>
</head>
<body>
  <div class="header">
    <h1>Student Dashboard</h1>
    <%= link_to 'Logout', student_logout_path, method: :get, class: 'logout-button' %>
  </div>

  <div class="container">
    <p>You have successfully logged in.</p>
    <%= link_to 'Edit Committee', edit_committee_student_path, class: 'btn' %>
  </div>

</body>
</html>
