<!-- app/views/student/edit_committee.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'student/studentsignup' %>
  <title>Edit Committee - PHD Annual Review Process</title>
</head>
<body>
  <div class="header">
    <h1>Edit Your Committee</h1>
    <%= link_to 'Back to Dashboard', student_dashboard_path, class: 'btn' %>
  </div>

  <div class="container">
    <!-- Here, you can add the form for editing the committee -->
    <p>Committee editing form will go here.</p>
  </div>
</body>
</html>
