<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'admin/admindashboard' %>
  <title>Welcome to PHD Annual Review Process</title>
</head>
<body>
  <div class="header">
    <h1>Admin Dashboard</h1>
  </div>

  <div class="container">
    <p>You have successfully logged in.</p>
  </div>

</body>
</html>
