.success-message {
    margin-bottom: 20px;
    color: green;
    font-weight: bold;
}

.student-details p {
    margin-bottom: 10px;
}

.back-to-login {
    margin-top: 20px;
}

.back-to-login a {
    color: #500000;
    text-decoration: none;
    font-weight: bold;
}

.back-to-login a:hover {
    text-decoration: underline;
}
