<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'home/homec' %>
  <title>Welcome to PHD Annual Review Process</title>

</head>

<body>
  <div class="header">
    <h1>Welcome to PHD Annual Review Process</h1>
  </div>

  <div class="container">
    <h2>Choose your role:</h2>
    <div class="role-buttons">
      <%= button_to "Student Login", student_login_path, method: :get, class: "role-button" %>
      <%= button_to "Admin Login", admin_login_path, method: :get, class: "role-button" %>
      <%= button_to "Faculty Login", faculty_login_path, method: :get, class: "role-button" %>
    </div>
  </div>
</body>
</html>
