<div id="<%= dom_id student_document %>">
  <p>
    <strong>Resume file:</strong>
    <%= student_document.resume_file %>
  </p>

  <p>
    <strong>Resume link:</strong>
    <%= student_document.resume_link %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student_document.email_id %>
  </p>

</div>
