<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'faculty/facultydashboard' %>
  <title>Welcome to PHD Annual Review Process</title>
</head>
<body>
  <div class="header">
    <h1>Faculty Dashboard</h1>
    <%= link_to 'Logout', faculty_logout_path, method: :get, class: 'logout-button' %>
  </div>

  <div class="container">
    <p>You have successfully logged in.</p>
  </div>

</body>
</html>
