<!DOCTYPE html>
<html>
<div class="header">
  <h1>Submit Documents</h1>
</div>

<form>
  <h2>CV/Resume</h2>
  <label for="images" class="drop-container" id="dropcontainer">
  <span class="drop-title">Drop files here</span>
  or
  <input type="file" id="resume" accept="application/pdf" required>
</label>
</form>
<form>
  <h2>Report</h2>
  <label for="images" class="drop-container" id="dropcontainer">
  <span class="drop-title">Drop files here</span>
  or
  <input type="file" id="report" accept="application/pdf" required>
</label>
</form>

<body style="background-color:lightgray;"> 
    <form action="create" 
        enctype="multipart/form-data">
        <input type="submit" value="Submit">
    </form>
</body>

</html>



<% content_for :form do %>
  <%= stylesheet_link_tag 'main' %>
<% end %>